<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header centered"> <%= academic.prefix %> <%= academic.firstName %> <%= academic.secondName %> </div>
        <div class="item">
            <div class="ui top attached">
                <img src="<%= academic.profilePicture %>" class="ui centered rounded image">
                <br>    
                <div style="text-align: center">
                    <p> <%= academic.jobTitle %> </p>
                    <p> <%= academic.department %> </p>
                    <p> <%= academic.faculty %> </p>
                    <p> <%= academic.emailAddress %> </p>
                    <p> <%= academic.telephoneNumber %> </p>
                </div>
                <div style="text-align: center">
                    <button class="ui primary negative button">Delete</button>
                    <a href="" class="ui primary blue button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
